# ASSIGNMENT 1

WEB SCRAPING

Q-1-Write a python program to display all the header tags from wikipedia.org.

In [9]:
from bs4 import BeautifulSoup
import requests

In [10]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page') # Send request to webserver to get the source code

soup = BeautifulSoup(page.content) # To Assign the page content to the variable soup

In [14]:
header_tags = ["h1", "h2", "h3", "h4", "h5", "h6"] # assign all type of header tags to a variable as list
for tags in soup.find_all(header_tags):            # pass that list in the method to find the function
    print(tags.name + ' ---- ' + tags.text.strip())

h1 ---- Main Page
h1 ---- Welcome to Wikipedia
h2 ---- From today's featured article
h2 ---- Did you know ...
h2 ---- In the news
h2 ---- On this day
h2 ---- Today's featured picture
h2 ---- Other areas of Wikipedia
h2 ---- Wikipedia's sister projects
h2 ---- Wikipedia languages
h2 ---- Navigation menu
h3 ---- Personal tools
h3 ---- Namespaces
h3 ---- Views
h3 ---- Search
h3 ---- Navigation
h3 ---- Contribute
h3 ---- Tools
h3 ---- Print/export
h3 ---- In other projects
h3 ---- Languages

Q-2- Write a python program to display IMDB's Top rated 100 Indian movies' data (i.e. name, rating, year of release) and make data frame.

In [12]:
from bs4 import BeautifulSoup
import requests

In [68]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/') # Send request to webserver to get the source code

ind_soup = BeautifulSoup(page.content) # To Assign the page content to the variable soup
ind_movietitle = ind_soup.find_all('td', class_="titleColumn")
ind_movietitle

ind_movies = []

for ind_movie in ind_movietitle:
    ind_movie = ind_movie.get_text().replace('\n', "")
    ind_movie = ind_movie.strip(" ")
    ind_movies.append(ind_movie)
ind_movies[:100]
    
ind_scraped_ratings = ind_soup.find_all('td', class_="ratingColumn imdbRating")
ind_ratings = []
for ind_rating in ind_scraped_ratings:
    ind_rating = ind_rating.get_text().replace('\n', '')
    ind_ratings.append(ind_rating)
ind_ratings

import pandas as pd
ind_data = pd.DataFrame()
ind_data['Movie Names'] = ind_movies[:100]
ind_data['Ratings'] = ind_ratings[:100]
ind_data

                                   Movie Names Ratings
0     1.      Rocketry: The Nambi Effect(2022)     8.5
1                     2.      Anbe Sivam(2003)     8.4
2                       3.      Jai Bhim(2021)     8.4
3                        4.      Golmaal(1979)     8.4
4                        5.      Nayakan(1987)     8.4
..                                         ...     ...
95                  96.      Ustad Hotel(2012)     8.0
96   97.      The Legend of Bhagat Singh(2002)     8.0
97                    98.      Virumandi(2004)     8.0
98  99.      Baahubali 2: The Conclusion(2017)     8.0
99                      100.      Angoor(1982)     8.0

[100 rows x 2 columns]

In [ ]:
Q-3- Write a python program to display IMDB's Top rated 100  movies' data (i.e. name, rating, year of release) and make data frame.

In [69]:
page = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250') # Send request to webserver to get the source code

all_soup = BeautifulSoup(page.content) # To Assign the page content to the variable soup
movietitle = all_soup.find_all('td', class_="titleColumn")
movietitle
ind_movies = []

for ind_movie in movietitle:
    ind_movie = ind_movie.get_text().replace('\n', "")
    ind_movie = ind_movie.strip(" ")
    ind_movies.append(ind_movie)
ind_movies[:250]

ind_scraped_ratings = ind_soup.find_all('td', class_="ratingColumn imdbRating")
ind_scraped_ratings

ind_ratings = []
for ind_rating in ind_scraped_ratings:
    ind_rating = ind_rating.get_text().replace('\n', '')
    ind_ratings.append(ind_rating)
ind_ratings[:250]

import pandas as pd
ind_data = pd.DataFrame()
ind_data['Movie Names'] = ind_movies[:250]
ind_data['Ratings'] = ind_ratings[:250]
ind_data

                                Movie Names Ratings
0    1.      The Shawshank Redemption(1994)     8.5
1               2.      The Godfather(1972)     8.4
2             3.      The Dark Knight(2008)     8.4
3       4.      The Godfather Part II(1974)     8.4
4                5.      12 Angry Men(1957)     8.4
..                                      ...     ...
245             246.      Dersu Uzala(1975)     7.7
246                 247.      Aladdin(1992)     7.7
247                  248.      Gandhi(1982)     7.6
248                249.      The Help(2011)     7.6
249          250.      The Iron Giant(1999)     7.6

[250 rows x 2 columns]

Q-4-Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    names_of_the_president = soup.find_all("div", class_ = "presidentListing")
    Name = []
    for i in names_of_the_president:
        i = i.text
        head,sep,tail = i.partition('(')
        Name.append(head.replace('\n',''))

    term_of_office = soup.find_all("div", class_ = "presidentListing")
    Term = []
    for i in term_of_office:
        i = i.text
        head,sep,tail = i.partition('Term of Office: ')
        i = tail
        head,sep,tail = i.partition('\n')
        Term.append(head)
        
    data = pd.DataFrame({"Name of the Indian President" : Name, "Term of Office" : Term})
    return(data)

In [2]:
html_content("https://presidentofindia.nic.in/former-presidents.htm")

,Name of the Indian President,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

Q-5

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name_of_the_batsman = soup.find_all('td', class_ = 'table-body__cell name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name').text
    Name = [Top_player]
    for i in name_of_the_batsman:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating_of_the_batsman = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating_of_the_batsman:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team_name = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','').split(' ')[0]
    Team = [Top_player_team]
    for i in team_name:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    data = pd.DataFrame({'Name of the Batsman':Name, 'Name of the Team':Team, 'Rating of the Player':Rating})
    return(data)

In [3]:
html_content("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

     Name of the Batsman Name of the Team Rating of the Player
0             Babar Azam              PAK                  890
1  Rassie van der Dussen               SA                  789
2        Quinton de Kock               SA                  784
3            Imam-ul-Haq              PAK                  779
4            Virat Kohli              IND                  744
5           Rohit Sharma              IND                  740
6         Jonny Bairstow              ENG                  732
7           David Warner              AUS                  725
8            Ross Taylor               NZ                  701
9            Steve Smith              AUS                  697

Q-6 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name_of_the_batswoman = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name_of_the_batswoman:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating_of_the_player = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating_of_the_player:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team_name = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team_name:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    data = pd.DataFrame({'Name of the Batswoman':Name, 'Name of the Team':Team, 'Rating of the Player':Rating})
    return(data)

In [5]:
html_content('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

  Name of the Batswoman         Name of the Team Rating of the Player
0          Alyssa Healy  AUS                                      785
1           Beth Mooney                      AUS                  749
2        Natalie Sciver                      ENG                  740
3       Laura Wolvaardt                       SA                  732
4           Meg Lanning                      AUS                  710
5        Rachael Haynes                      AUS                  701
6       Smriti Mandhana                      IND                  698
7     Amy Satterthwaite                       NZ                  681
8      Harmanpreet Kaur                      IND                  662
9   Chamari Athapaththu                       SL                  655

Q-7-Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    title = soup.find_all('a', class_ ='LatestNews-headline')
    Title = []
    for i in title:
        Title.append(i.text) 

    time = soup.find_all('time', class_ ='LatestNews-timestamp')
    Time = []
    for i in time:
        Time.append(i.text) 

    link = soup.find_all('div', class_='LatestNews-headlineWrapper')
    Link = []
    for i in link:
        head, sep, tail = str(i).partition('" title=')
        head, sep, tail = head.partition('a class="LatestNews-headline" href="')
        Link.append(tail)

    data = pd.DataFrame({'Title of the News':Title,'Time of the News':Time,'Link of the News':Link})
    return(data)

In [4]:
html_content('https://www.cnbc.com/world/?region=world')

,Title of the News,Time of the News,Link of the News
0,Everything parents need to know about student ...,25 Min Ago,https://www.cnbc.com/2022/09/24/what-parent-pl...
1,"Check in, smoke up and tune out: Cannabis-frie...",26 Min Ago,https://www.cnbc.com/2022/09/24/check-in-smoke...
2,Convertibles drive into the sunset as automake...,26 Min Ago,https://www.cnbc.com/2022/09/24/convertible-sa...
3,Britain's sudden lurch to 'Reaganomics' gets a...,4 Hours Ago,https://www.cnbc.com/2022/09/24/liz-truss-brit...
4,Here's our plan for Monday after another painf...,15 Hours Ago,https://www.cnbc.com/2022/09/23/it-was-another...
5,What to watch in the markets in the week ahead,15 Hours Ago,https://www.cnbc.com/2022/09/23/stocks-could-c...
6,Pro Picks: Watch all of Friday's big stock cal...,15 Hours Ago,https://www.cnbc.com/2022/09/23/pro-picks-watc...
7,13 careers where over 50% of workers are happy...,15 Hours Ago,https://www.cnbc.com/2022/09/23/careers-where-...
8,New York AG wrongly said Yankees game on Apple...,15 Hours Ago,https://www.cnbc.com/2022/09/23/new-york-ag-wr...
9,Tech stocks just had the worst two-week stretc...,16 Hours Ago,https://www.cnbc.com/2022/09/23/tech-stocks-wo...
10,Takeaways from Jim Cramer's interviews with th...,16 Hours Ago,https://www.cnbc.com/2022/09/23/jim-cramer-sat...
11,Some homebuyers are facing mortgage 'payment s...,17 Hours Ago,https://www.cnbc.com/2022/09/23/some-homebuyer...
12,Ether is down almost 20% since the merge. Here...,17 Hours Ago,https://www.cnbc.com/2022/09/23/ether-is-down-...
13,Elon Musk has over 20 direct reports at Tesla ...,17 Hours Ago,https://www.cnbc.com/2022/09/23/elon-musk-dire...
14,Trump SPAC shares are now around $16 after hit...,18 Hours Ago,https://www.cnbc.com/2022/09/23/trump-merger-p...
15,Here's why U.S. fiscal policy is undermining t...,18 Hours Ago,https://www.cnbc.com/2022/09/23/us-fiscal-poli...
16,Why gold and crypto haven't proven to be 'infl...,18 Hours Ago,https://www.cnbc.com/2022/09/23/why-gold-and-c...
17,"Amid U.S. recession fears, these 4 steps can h...",18 Hours Ago,https://www.cnbc.com/2022/09/23/amid-us-recess...
18,Biden promises to codify Roe if two more Democ...,18 Hours Ago,https://www.cnbc.com/2022/09/23/biden-promises...
19,Government bond yields soar as markets weigh t...,19 Hours Ago,https://www.cnbc.com/2022/09/23/government-bon...
20,Inside the $250 million penthouse on 'Billiona...,19 Hours Ago,https://www.cnbc.com/2022/09/23/inside-the-250...
21,"Stocks making the biggest moves midday: FedEx,...",19 Hours Ago,https://www.cnbc.com/2022/09/23/stocks-making-...
22,How the IPO market went from 'boom to bust' in...,19 Hours Ago,https://www.cnbc.com/2022/09/23/stock-market-i...
23,3 takeaways from our daily meeting: Bonds vs. ...,19 Hours Ago,https://www.cnbc.com/2022/09/23/3-takeaways-fr...
24,Hedge funds ramp up bets as volatility brings ...,19 Hours Ago,https://www.cnbc.com/2022/09/23/hedge-funds-ra...
25,Celsius has a Hail Mary bankruptcy plan: Turn ...,19 Hours Ago,https://www.cnbc.com/2022/09/23/celsius-has-a-...
26,Lauren Taylor Wolfe says it's just too risky f...,19 Hours Ago,https://www.cnbc.com/2022/09/23/lauren-taylor-...
27,Top stock performers this week make recession-...,19 Hours Ago,https://www.cnbc.com/2022/09/23/the-top-stock-...
28,Legendary music producer Emilio Estefan urges ...,20 Hours Ago,https://www.cnbc.com/2022/09/23/emilio-estefan...
29,Debt-loaded cruise lines' shares fall as Fed h...,20 Hours Ago,https://www.cnbc.com/2022/09/23/cruise-line-st...

Q-8.Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [ ]:
  
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i)   Paper Title
# ii)  Authors
# iii) Published Date
# iv)  Paper URL

In [44]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles') # Send request to webserver to get the source code

soup = BeautifulSoup(page.content) # To Assign the page content to the variable soup
soup

paper_title = []
authors = []
published_date = []
paper_url = []

# Assigning Paper title to a variable
for title in soup.find_all('h2', class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR'):
    paper_title.append(title.text)
paper_title

# Assigning authors name to a variable
for title in soup.find_all('span', class_='sc-1w3fpd7-0 pgLAT'):
    authors.append(title.text)
authors

# Assigning published date to a variable
for title in soup.find_all('span', class_='sc-1thf9ly-2 bKddwo'):
    published_date.append(title.text)
published_date

# Assigning urls to a variable
for title in soup.find_all('a', class_='sc-5smygv-0 nrDZj'):
    paper_url.append(title.get('href'))
paper_url


# Assigning data to the Dataframe
import pandas as pd
data = pd.DataFrame()
data['Paper Title'] = paper_title
data['Authors'] = authors
data['Published Date'] = published_date
data['Paper URL'] = paper_url

data

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

Q-9-Write a python program to scrape mentioned details from dineout.co.in

import all required libraries:-
    a)requests-send get request to web page to get source code
    b)beautiful soup-It will be used to parse the source code and to extract the required data from parsed structure.

In [ ]:
!pip install bs4
!pip install requests

In [17]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests

Send get requests to the webpage server to get the source code of the page

In [18]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants?search_str=buffet')
page

Page Content

In [ ]:
soup=BeautifulSoup(page.content)
soup

# Scrapping First Name

In [20]:
first_title=soup.find('a',class_="restnt-name ellipsis")
first_title

<a analytics-action="RestaurantCardClick" analytics-label="27452_Local" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/local-connaught-place-central-delhi-27452">Local</a>

In [21]:
first_title.text

'Local'

# Scrapping First Location

In [7]:
loc=soup.find('div',class_="restnt-loc ellipsis")
loc.text

'Scindia House,Connaught Place, Central Delhi'

# Scrapping Price

In [24]:
price=soup.find('span',class_="double-line-ellipsis")
price.text.split("|")[0]

'₹ 2,000 for 2 (approx) '

# Scrapping Cuisine

In [25]:
cuisine=soup.find('span',class_="double-line-ellipsis")
cuisine.text.split("|")[1]

' North Indian, Asian, Continental'

# Scrapping Images

In [26]:
images=[]
for i in soup.find_all("img",class_="no-img"):
    images.append(i.get('data-src'))
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/u/p237-16468990666229af7a72b08.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/y/p20941-15700828565d959028e9f28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/j/p21171-166019927162f4a167b10af.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/h/n/p95-16444959626205045ab0b43.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/e/z/p53380-15544492915ca7038b700f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/u/b/p919-150182627559840ce33f574.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/d/l/p29673-1500453055596f18bfe2cab.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/e/u/p456-14473237645644687422a28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/n/p2617-1617631577606b19598001e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/h/p35926-15233509655acc7db5718fb.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/k/v/p3094-1617661641606b8ec9027d2.JPG?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/j/a/p54792-1630486205612f3ebd9d20b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/k/a/p33299-1651131064626a42b8c2849.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/g/p/p19259-15110746465a112b562861e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/x/k/p87447-161588804660507eaee6e94.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/n/c/p5364-1612339053601a576da7cd9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/s/m/p46858-162151010960a647dd9b1ad.jpg?tr=tr:n-medium']

Q-10  Write a python program to scrape the details of top publications from Google Scholar from 
      https://scholar.google.com/citations?view_op=top_venues&hl=en

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def html_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    rank = soup.find_all('td', class_ ='gsc_mvt_p')
    Rank = []
    for i in rank:
        Rank.append(i.text) 

    publication = soup.find_all('td', class_ ='gsc_mvt_t')
    Publication = []
    for i in publication:
        Publication.append(i.text) 

    h5_index = soup.find_all('a', class_ ='gs_ibl gsc_mp_anchor')
    H5_index = []
    for i in h5_index:
        H5_index.append(i.text) 

    h5_median = soup.find_all('span', class_ ='gs_ibl gsc_mp_anchor')
    H5_median = []
    for i in h5_median:
        H5_median.append(i.text)
                                                        
    data = pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5_index':H5_index,'h5_median':H5_median})
    return(data)

In [6]:
html_content('https://scholar.google.com/citations?view_op=top_venues&hl=en')

    Rank                                        Publication h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]